.loginbtn{
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 100%;
  height: 48px;
  padding: 14px 36px;
  align-items: flex-end;
  gap: 10px;
  flex-shrink: 0; 
  color: #FFF;
  border-radius:12px ;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  text-transform: uppercase; 
  background-color: #182C5A;
  }

  .loginbtn:hover{
    background-color: #E92227;
  }