.loginbtn{
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 100%;
    height: 48px;
    padding: 14px 36px;
    align-items: flex-end;
    gap: 10px;
    flex-shrink: 0; 
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    text-transform: uppercase; 
    background-color: #182C5A;
    border-radius: 12px;
    }

    .loginbtn:hover{
        background-color: #E92227;
    }

    .heading {
        font-weight : 600 ; 
        color: red;
    }

    .login{
        color: #182C5A ;   
    }

    .login:hover{
        color: #E92227 ;   
    }
