/* layouts */

.filtershowtext {
    padding-top: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  
    padding-bottom: 0px !important;
    margin: 0px !important;
  }
  @media (max-width: 900px) {
    .filtershowtext {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }
  /* mainbody */
  .mainbody {
    margin-top: 17px !important;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    padding-left: 110px !important;
    padding-right: 110px !important;
  }
  @media (max-width: 900px) {
    .mainbody {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }
  
  .displayimage {
    height: "800px" !important;
  }
  
  /* //// */
  .content {
    position: absolute;
    top: 20%;
    left: 15%;
  }
  @media (max-width: 900px) {
    .content {
      top: 6%;
      left: 5%;
    }
  }
  
  .sliderheader {
    color: #fff;
    font-family: "Montserrat";
    font-size: 63px;
    font-style: normal;
    font-weight: 700;
    line-height: 71px; /* 112.698% */
  }
  /* media queries */
  
  @media (max-width: 900px) {
    .sliderheader {
      font-size: 52px;
    }
  }
  
  .slidertext {
    color: #fff;
    font-family: "Montserrat";
    font-size: 18.169px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.669px; /* 141.28% */
  }
  .sliderbtn {
    border: 0;
    border-radius: 6px;
    display: flex;
    width: 337px;
    height: 48px;
    padding: 14px 36px;
    align-items: flex-end;
    gap: 10px;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: "Montserrat";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    text-transform: uppercase;
    background-color: #182c5a;
  }
  .catalogpath {
    color: #222;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; 
    text-decoration-line: underline;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
  }
  .spanee {
    text-decoration: none !important;
  }
  
  .showresulttext {
    margin: 0px;
    color: #3a5ba2;
    font-size: 20.794px;
    font-style: normal;
    font-weight: 700;
    line-height: 36.389px; /* 175% */
  }
  @media (max-width: 900px) {
    .showresulttext {
     
      font-size: 16px;
    }
  }
  
  .packagebtn {
    border: 0;
    color: #fff;
    text-align: center;
    font-family: "Montserrat";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    text-transform: uppercase;
    display: flex;
    width: 110px;
    height: 33px;
    padding: 14px 36px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
    background-color: #182c5a;
  }
  .addtocartbtn {
    border: 0;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 142.857% */
    text-transform: uppercase;
    display: flex;
    width: 234px;
    height: 41px;
    padding: 14px 36px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
    background-color: #182c5a;
  }
  
  .pricetext {
    color: #249b3e;
    font-size: 27.119px;
    font-style: normal;
    font-weight: 600;
    line-height: 30.508px;
  }
  @media (max-width: 900px) {
    .pricetext {
      font-size: 11px;
      line-height: 10px;
    }
  }
  
  /* layouts responsive */
  
  .filterslayout {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  @media (max-width: 900px) {
    .filterslayout {
      display: none;
    }
  }
  
  .filterheader {
    display: flex;
    margin-top: 46px;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: end;
    padding-left: 25px;
  }
  @media (max-width: 900px) {
    .filterheader {
      flex-direction: column;
    }
  }
  
  .filterheadersuba {
    display: flex;
    justify-content: start;
  }
  @media (max-width: 900px) {
    .filterheadersuba {
      align-items: start;
      flex-direction: column;
      justify-content: start;
  
      width: 100% !important;
    }
  }
  
  .filterheadersubb {
    display: block;
  }
  @media (max-width: 900px) {
    .filterheadersubb {
      display: flex;
      flex-direction: column;
      align-items: start;
  
      width: 100% !important;
    }
  }
  
  .filterheadersubbdiv {
    display: flex !important;
    justify-content: end !important;
    align-items: center !important;
  }
  @media (max-width: 900px) {
    .filterheadersubbdiv {
      width: 100%;
      justify-content: space-between !important;
    }
  }
  
  /* productlistconditional rendering */
  .productslistdivwindow {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap:10px
  }

  @media (min-width: 1600px) {
    .productslistdivwindow {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (max-width: 1300px) {
    .productslistdivwindow {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 900px) {
    .productslistdivwindow {
      display: none !important;
    }
  }
  
  .productslistdivmobile {
    display: none !important;
  }
  @media (max-width: 900px) {
    .productslistdivmobile {
      display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap:20px;
      margin-left: 20px ;
    }
  }
  
  @media (max-width: 900px) {
    .pagingdivlast {
      height: 32px;
      width: 272px;
    }
  }

  .desktopFilter{
    display: block !important;
  }

  .mobileFilter{
    display: none !important;
  }
  
  @media (max-width: 900px) {
    .desktopFilter{
      display: none !important;
    }

    .mobileFilter{
      display: block !important;
    }
  }
  .noProducts{
    font-size: 28px;
    font-family: Montserrat;
    font-weight: 700;
    color: #3A5BA2;
  }
  .noProductsMobile{
    font-size: 28px;
    font-family: Montserrat;
    font-weight: 700;
    color: #3A5BA2;
    
  }