.share_main {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: start;
  position: absolute;
  top: 35%;
  z-index: 20;
  margin-left: 260px;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
}
.modal_inner {
  width: 35%;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  background: white;
  border: 1px solid #D9D9D9;
}
.ineera {
  display: flex;
  justify-content: space-between;
  padding-right: 8px;
}

.linkisss {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  margin-top: 20px;
}

.heading {
    font-family: Montserrat ;

}

@media (max-width: 768px) {
    .share_main {
      width: 80%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: start;
      position: absolute;
      top: 85%;
      margin-left: 6%;
      z-index: 20;}
      
      .modal_inner {
        width: 100%;
        height: auto;
        padding: 20px;
        border-radius: 10px;
        background: white;
        border: 1px solid #D9D9D9;}
        .ineera {
          display: flex;
          justify-content: space-between;
          padding-right: 8px;}
          
        }
        .linkisss {
          display: flex;
          flex-wrap: wrap;
          column-gap: 10px;
          margin-top: 20px;
        }
   
