.mainbody {
    margin-top: 17px !important;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    padding-left: 110px !important;
    padding-right: 110px !important;
  }

  .mainDiv{
    margin-top: 30px;
 
   
  }

  .subDiv{
    margin-top: 20px;
  }

  .heading1{
    color: #3A5BA2;
    font-weight: 700;
    font-size:36px;
    margin-bottom: 10px;
  }

  .content1{
    font-size: 18px;
    line-height: 30px;
  }
  .subDiv{
    margin-top: 20px;
    text-align: justify;
    
  }

  .span1{
    font-size: 20px;
    font-weight: 700;
    color: #3A5BA2;
  }
  .subContent1{
    font-size: 18px;
    line-height: 30px;
    margin-top: 15px;
    margin-inline: 20px;
  }

  .subContent{
    font-size: 18px;
    line-height: 30px;
    margin-top: 15px;

  }

  .subHeading{
    color: #3A5BA2;
    font-weight: 700;
    font-size:24px;
    /* margin-bottom: 10px; */
  }

  .subDiv1{
    margin-top: 50px;
    font-size: 18px;
    margin-bottom: 60px;
    font-style: italic;
  }

  /* layouts */

.filtershowtext {
  padding-top: 0px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;

  padding-bottom: 0px !important;
  margin: 0px !important;
}

@media (max-width: 900px) {
  .filtershowtext {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
}

.mainPage{
  display: flex;
  justify-content: space-around;
}

.orderId{
  display: flex;
  flex-direction: column;
  gap:"300px";
  color: #3a5ba2;
}
@media (max-width: 900px) {
  .mainPage {
      flex-direction: column;
  }
  .orderId{
    justify-content: center;
    align-items: center;
  }
}

/* mainbody */
.mainbody {
  margin-top: 17px !important;
  margin-left: 0px !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
  padding-left: 110px !important;
  padding-right: 110px !important;
}

@media (max-width: 900px) {
  .mainbody {
      padding-left: 10px !important;
      padding-right: 10px !important;
  }
}

.displayimage {
  height: "800px" !important;
}

/* //// */
.content {
  position: absolute;
  top: 20%;
  left: 15%;
}

@media (max-width: 900px) {
  .content {
      top: 6%;
      left: 5%;
  }
}

.sliderheader {
  color: #fff;
  font-family: "Montserrat";
  font-size: 63px;
  font-style: normal;
  font-weight: 700;
  line-height: 71px;
  /* 112.698% */
}

/* media queries */

@media (max-width: 900px) {
  .sliderheader {
      font-size: 52px;
  }
}

.slidertext {
  color: #fff;
  font-family: "Montserrat";
  font-size: 18.169px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.669px;
  /* 141.28% */
}

.sliderbtn {
  border: 0;
  border-radius: 6px;
  display: flex;
  width: 337px;
  height: 48px;
  padding: 14px 36px;
  align-items: flex-end;
  gap: 10px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  text-transform: uppercase;
  background-color: #182c5a;
}

.catalogpath {
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  text-decoration-line: underline;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

.spanee {
  text-decoration: none !important;
}

.showresulttext {
  margin: 0px;
  color: #3a5ba2;
  font-size: 20.794px;
  font-style: normal;
  font-weight: 700;
  line-height: 36.389px;
  /* 175% */
}

@media (max-width: 900px) {
  .showresulttext {
      color: black;
      font-size: 12.794px;
  }
}

.packagebtn {
  border: 0;
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  text-transform: uppercase;
  display: flex;
  width: 110px;
  height: 33px;
  padding: 14px 36px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-shrink: 0;
  background-color: #182c5a;
}

.addtocartbtn {
  border: 0;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 142.857% */
  text-transform: uppercase;
  display: flex;
  width: 234px;
  height: 41px;
  padding: 14px 36px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-shrink: 0;
  background-color: #182c5a;
}

.pricetext {
  color: #249b3e;
  font-size: 27.119px;
  font-style: normal;
  font-weight: 600;
  line-height: 30.508px;
}

@media (max-width: 900px) {
  .pricetext {
      font-size: 11px;
      line-height: 10px;
  }
}

/* layouts responsive */

.filterslayout {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

@media (max-width: 900px) {
  .filterslayout {
      display: none;
  }
}

.filterheader {
  display: flex;
  margin-top: 46px;
  flex-direction: row;
  justify-content: space-between !important;
  align-items: start;
}

@media (max-width: 900px) {
  .filterheader {
      flex-direction: column;
  }
}

.filterheadersuba {
  display: flex;
  justify-content: end;
}

@media (max-width: 900px) {
  .filterheadersuba {
      align-items: start;
      flex-direction: column;
      justify-content: start;

      width: 100% !important;
  }
}

.filterheadersubb {
  display: block;
}

@media (max-width: 900px) {
  .filterheadersubb {
      display: flex;
      flex-direction: column;
      align-items: start;

      width: 100% !important;
  }
}

.filterheadersubbdiv {
  display: flex !important;
  justify-content: end !important;
  align-items: center !important;
}

@media (max-width: 900px) {
  .filterheadersubbdiv {
      width: 100%;
      justify-content: space-between !important;
  }
}

/* productlistconditional rendering */
.productslistdivwindow {
  display: flex !important;
  flex-direction: column !important;
  justify-content: start !important;
  align-items: center !important;
}

@media (max-width: 900px) {
  .productslistdivwindow {
      display: none !important;
  }
}

.productslistdivmobile {
  display: none !important;
}

@media (max-width: 900px) {
  .productslistdivmobile {
      display: flex !important;
      flex-direction: row !important;
      flex-wrap: wrap;
      justify-content: space-between !important;
      align-items: center !important;
  }
}

@media (max-width: 900px) {
  .pagingdivlast {
      height: 32px;
      width: 272px;
  }
}

.submitPaymentBtn{
  background-color: #182C5A;
}

.submitPaymentBtn:hover{
  background-color: #E92227;
}

/* eccomercepacking css */