.feedBack_main {
  width: 100%;
  height: auto;
  padding: 0px 10px;
  padding-top: 45px;
  padding-bottom: 66px;
  position: relative;
  .arrowPrev {
    position: absolute;
    margin-top: 130px !important;
    z-index: 2;
    margin-left: -45px;
    font-size: 10px;
    background-color: #f5f5f5;
    padding: 17px 22px;
    cursor: pointer;
    border-radius: 50%;

    > img {
      width: 20px;
      height: 30px;
    }
  }

  .arrowNext {
    position: absolute;
    margin-top: 130px;
    z-index: 2;
    right: -20px;
    background-color: #f5f5f5;
    padding: 17px 22px;
    cursor: pointer;
    border-radius: 50%;

    > img {
      width: 20px;
      height: 30px;
    }
  }
  .card {
    width: 90% !important;
    height: auto;
    padding: 20px;
    min-height: 230px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    // margin-bottom: 40px;
    background-color: white;
    > div:nth-child(1) {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      > img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      > div {
        padding-left: 20px;
        > p:nth-child(1) {
          font-family: "sans";
          font-size: 16px;
          color: red;
          font-weight: 700;
          text-transform: capitalize;
          margin-bottom: 0px;
          font-family: "Montserrat";
          color: #3a5ba2;
        }
        > p:nth-child(2) {
          font-family: "sans";
          font-size: 13px;
          color: gray;
          font-weight: 500;
          text-transform: capitalize;
          margin-top: 0px;
        }
      }
    }
    .sub_text {
      font-family: "sans";
      font-size: 14px;
      color: #000;
      text-align: justify;
      font-family: "Montserrat";
    }
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .feedBack_main {
    width: 100%;
    height: auto;
    margin-top: 60px;
    padding: 0px 40px;
    .arrowPrev {
      position: absolute;
      margin-top: 200px;
      z-index: 2;
      margin-left: -45px;
      font-size: 10px;
      cursor: pointer;
      display: none;

      > img {
        width: 20px;
        height: 30px;
      }
    }

    .arrowNext {
      position: absolute;
      margin-top: 200px;
      z-index: 2;
      right: 45px;
      cursor: pointer;
      font-size: 40px;
      display: none !important;

      > img {
        width: 20px;
        height: 30px;
      }
    }
    > p:nth-child(2) {
      color: black;
      font-weight: 600;
      text-align: center;
      font-family: "sans";
      font-size: 16px;
    }
    > p:nth-child(1) {
      color: red;
      font-size: 28px;
      font-weight: 600;
      text-align: center;
      font-family: "sans";
      letter-spacing: 0.02em;
      margin-top: 0px;
      margin-bottom: 7px;
    }
    .card {
      width: 90% !important;
      height: auto;
      // padding: 20px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      margin-bottom: 40px;
      > div:nth-child(1) {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        > img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
        > div {
          padding-left: 20px;
          > p:nth-child(1) {
            font-family: "sans";
            font-size: 16px;
            color: red;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 0px;
          }
          > p:nth-child(2) {
            font-family: "sans";
            font-size: 13px;
            color: gray;
            font-weight: 500;
            text-transform: capitalize;
            margin-top: 0px;
          }
        }
      }
      .sub_text {
        font-family: "sans";
        font-size: 14px;
        color: red;
        text-align: justify;
      }
    }
  }
}

@media (max-width: 767px) and (min-width: 321px) {
  .feedBack_main {
    width: 100%;
    height: auto;
    margin-top: 0px;
    padding: 30px 0px;

    .arrowPrev {
      position: absolute;
      margin-top: 200px;
      z-index: 2;
      margin-left: -45px;
      font-size: 10px;
      cursor: pointer;
      display: none !important;

      > img {
        width: 20px;
        height: 30px;
      }
    }

    .arrowNext {
      position: absolute;
      margin-top: 200px;
      z-index: 2;
      right: 45px;
      cursor: pointer;
      font-size: 40px;
      display: none !important;

      > img {
        width: 20px;
        height: 30px;
      }
    }
    > p:nth-child(2) {
      color: black;
      font-weight: 600;
      text-align: center;
      font-family: "sans";
      font-size: 16px;
    }
    > p:nth-child(1) {
      color: red;
      font-size: 22px;
      font-weight: 600;
      text-align: center;
      font-family: "sans";
      letter-spacing: 0.02em;
      margin-top: 0px;
      margin-bottom: 7px;
    }
    .card {
      width: 86% !important;
      height: auto;
      padding: 10px !important;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      margin-bottom: 40px;
      margin-top: 0px !important;

      margin-left: 23px !important;
      > div:nth-child(1) {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        > img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
        > div {
          padding-left: 20px;

          > p:nth-child(1) {
            font-family: "sans";
            font-size: 16px;
            color: red;
            font-weight: 700;
            text-transform: capitalize;
            margin-bottom: 0px;
            font-family: "Montserrat";
            color: #3a5ba2;
          }

          > p:nth-child(2) {
            font-family: "Montserrat";
            font-size: 13px;
            color: gray;
            font-weight: 500;
            text-transform: capitalize;
            margin-top: 0px;
          }
        }
      }
      .sub_text {
        font-family: "Montserrat";
        font-size: 14px;
        color: #000;
        text-align: justify;
        width: 100%;
        margin-left: 0px;
      }
    }
  }
}
@media (max-width: 320px) {
  .feedBack_main {
    width: 100%;
    height: auto;
    margin-top: 60px;
    padding: 30px 10px;
    .arrowPrev {
      position: absolute;
      margin-top: 200px;
      z-index: 2;
      margin-left: -45px;
      font-size: 10px;
      cursor: pointer;
      display: none !important;

      > img {
        width: 20px;
        height: 30px;
      }
    }

    .arrowNext {
      position: absolute;
      margin-top: 200px;
      z-index: 2;
      right: 45px;
      cursor: pointer;
      font-size: 40px;
      display: none !important;

      > img {
        width: 20px;
        height: 30px;
      }
    }
    > p:nth-child(2) {
      color: black;
      font-weight: 600;
      text-align: center;
      font-family: "sans";
      font-size: 13px;
    }
    > p:nth-child(1) {
      color: red;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      font-family: "sans";
      letter-spacing: 0.02em;
      margin-top: 0px;
      margin-bottom: 7px;
    }
    .card {
      width: 100% !important;
      height: auto;
      padding: 20px !important;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      margin-bottom: 40px;
      margin-top: 0px !important;
      > div:nth-child(1) {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        > img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
        > div {
          padding-left: 20px;
          > p:nth-child(1) {
            font-family: "sans";
            font-size: 16px;
            color: red;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 0px;
          }
          > p:nth-child(2) {
            font-family: "sans";
            font-size: 13px;
            color: gray;
            font-weight: 500;
            text-transform: capitalize;
            margin-top: 0px;
          }
        }
      }
      .sub_text {
        font-family: "sans";
        font-size: 12px;
        color: red;
        text-align: justify;
        width: 95%;
        margin-left: 5px;
      }
    }
  }
}
